# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

# Ignore distribution output directory
dist

# Ignore log directory
log

# Ignore root db directory
/db

# Ignore .env file
.env

# Ignore root announcer files
/voicelines
/mapping.json
/config.json