[Unit]
Description=Parrot
After=network-online.target

[Service]
Type=simple
User=parrot
Group=parrot
ExecStart=/bin/bash /bot/parrot/bin/parrot
WorkingDirectory=/bot/parrot

# Note: Sending a SIGINT (as in CTRL-C) results in an exit code of 130 (which is normal)
KillMode=process
KillSignal=SIGINT
SuccessExitStatus=130

[Install]
WantedBy=multi-user.target
