<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="pl.tkowalcz.tjahzi.log4j2">
    <properties>
        <property name="name">vivy</property>
        <property name="pattern">%highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green bold, DEBUG=green, TRACE=cyan} | %m%n</property>
        <property name="log4j.skipJansi" value="false"/>
    </properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${pattern}</pattern>
                <disableAnsi>false</disableAnsi>
            </PatternLayout>
        </Console>
        <Loki name="loki">
            <host>${env:LOKI_HOST}</host>
            <port>${env:LOKI_PORT}</port>

            <PatternLayout>
                <Pattern>%X{tid} [%t] %d{MM-dd HH:mm:ss.SSS} %5p %c{1} - %m%n%exception{full}</Pattern>
            </PatternLayout>
            <Label name="bot" value="vivy"/>
        </Loki>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="loki"/>
        </root>
    </loggers>
</configuration>