[Unit]
Description=Basura
After=network-online.target

[Service]
Type=simple
User=basura
Group=basura
ExecStart=/bin/bash /bot/basura/bin/basura
WorkingDirectory=/bot/basura

# Note: Sending a SIGINT (as in CTRL-C) results in an exit code of 130 (which is normal)
KillMode=process
KillSignal=SIGINT
SuccessExitStatus=130

[Install]
WantedBy=multi-user.target
